{
  "presets": ["es2015", "stage-1", "react", "stage-0"],
  "plugins": [
    ["transform-replace-object-assign", "transform-strict-mode"]
  ],
  "env": {
    "docs-production": {
      "plugins": [
        "transform-function-bind",
        "transform-replace-object-assign",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
